@font-face {
    font-family: "CustomFont";
    src: url("./assets/Fonts/get_schwifty-webfont.woff");
    src: url("./assets//Fonts/get_schwifty-webfont.woff2") format("woff"),
    url("./assets/Fonts/get_schwifty.ttf") format("opentype"),
};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

html {
    background-color: black;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1;
}

.sidebar {
    position: relative;
    left: 0;
    bottom: 0;
    width: 200px;
}

.routes {
    position: relative;
    margin-left: 200px;
    padding: 15px 0;
}
